
:root {
  --primary-color: #007bff; 
  --secondary-color: #6c757d; 
  --accent-color: #28a745; 
}


.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: var(--primary-color); 
}


.language-switcher {
  margin-bottom: 20px;
}


.weather-display {
  margin-bottom: 20px;
}


.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: var(--primary-color); 
}


.button:hover {
  background-color: #0056b3; 
}

/* Responsive styles for small screens */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
  }

  .button {
    font-size: 14px;
  }
}
